body {
  margin:0!important;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.searchBox {
  display:block;
  width:100%;
  vertical-align:top;
}

.results {
  margin: 0 auto;
  width: 600px;
}

h1 {
  font-size: 100px;
}

h4 {
  font-size:60px;
}

.imageContainer {
  height: 300px;
  overflow: auto;
  display:inline-block;
  padding:10px 30px;
  margin:10px;
  max-width:600px;
}

.imageContainer img{
  height: inherit;
  display:block;
}

.imageContainer p{
  display:block;
  text-align:left;
  width:inherit;
  font-size:14px;
}

#keyword {
  font-size: 30px;
  width: 100%;
  display: block;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #333333;
}


@media only screen and (max-width: 769px){
  #keyword{
    font-size: 20px;
  } 

  h1{
    font-size: 60px;
  }

  .results{
    width: 90%;
  }
}